---
title: Are You Listening?
layout: default
theme: light
permalink: /areyoulistening
image: /assets/img/portfolio/ayl.png
underlay: /assets/img/portfolio/ayl-blank.png
description: >-
    Areyoulistening.studio was a webstore that allowed for users to customize
    their own t-shirt to feature nine of their favorite albums.
---

{% assign content = site.data.content.portfolio.areyoulistening %}

<div class="portfolio-hero ayl">
    <div class="wrapper">
        <div class="desktop" id="_cc_ayl"></div>

        <div class="mobile">
            <video class="package" disableRemotePlayback playsInline autoplay muted loop>
                <source
                    src="/assets/img/ayl/posts/slideshow.mp4"
                    type="video/mp4"
                />
            </video>
        </div>
    </div>

    <h2 class="title">{{ page.title }}</h2>
    <a href="#content">
        <img class="caret" src="/assets/img/site/caret-black.png" />
    </a>
</div>

{% include tools/cloudcode.html data=site.data.clouds.ayl id="_cc_ayl" %}

<div class="portfolio-splash theme-light" id="content">
    <div>
        <h3>E-Commerce, Customized.</h3>

        {% include tools/content.html data=content.splash %}
    </div>
</div>

<div class="theme-dark">
    <div class="content">
        <div class="flex-title right">
            <div class="title">
                <h2>Reach<br />Your<br />Audience</h2>
            </div>

            <div>
                {% include tools/content.html data=content.reach %}
            </div>
        </div>

        <div class="flex-split">
            <div>
                <video disableRemotePlayback playsInline autoplay muted loop>
                    <source
                        src="/assets/img/ayl/notebook.mp4"
                        type="video/mp4"
                    />
                </video>
            </div>

            <div>
                <video disableRemotePlayback playsInline autoplay muted loop>
                    <source
                        src="/assets/img/ayl/fotoshop.mp4"
                        type="video/mp4"
                    />
                </video>
            </div>
        </div>
    </div>
</div>

<div class="theme-dark">
    <div class="content">
        <div class="flex-split" style="gap: 6rem">
            <div>
                <h2>Community<br />Building</h2>

                <br />

                <img src="/assets/img/ayl/worldwide.png" />

                {% include tools/content.html data=content.community %}
            </div>

            <div>
                <div class="flex-split">
                    <div>
                        <img src="/assets/img/ayl/picks1.png" />
                    </div>
                    <div>
                        <img src="/assets/img/ayl/picks2.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="theme-dark" id="last">
    <div class="content">
        <div class="flex-split" style="flex-wrap: wrap-reverse">
            <div>
                <video disableRemotePlayback playsInline autoplay muted loop>
                    <source src="/assets/img/ayl/mobile.mp4" type="video/mp4" />
                </video>
            </div>

            <div>
                <h2 style="text-align: right">A Site To<br />Behold</h2>

                {% include tools/content.html data=content.behold %}

                <video disableRemotePlayback playsInline autoplay muted loop>
                    <source
                        src="/assets/img/ayl/desktop.mp4"
                        type="video/mp4"
                    />
                </video>
            </div>
        </div>
    </div>
</div>
