---
title: Phoenix Coalition
layout: default
theme: light
permalink: /phoenixcoalition
image: /assets/img/portfolio/phoenix.png
underlay: /assets/img/portfolio/phoenix-blank.png
description: >-
    Hired to design logo and branding, culminating into a cohesive full-spread Instagram page showcasing organization members.
---

{% assign content = site.data.content.portfolio.phoenixcoalition %}

<div class="portfolio-hero phoenix">
    <div class="wrapper" id="_phx_hero">
        <img src="/assets/img/phoenix/center.png" />
    </div>

    <h2 class="title">{{ page.title }}</h2>
    <a href="#content">
        <img class="portfolio-caret" src="/assets/img/site/caret-black.png" />
    </a>
</div>

<div class="splash theme-light" id="content">
    <div>
        <h3>Cohesive Branding.</h3>

        {% include tools/content.html data=content.splash %}
    </div>
</div>

<div class="theme-dark">
    <div class="content">
        <div class="flex-title left">
            <div class="title">
                <h2>Made For<br />Usability</h2>
            </div>

            <div>
                {% include tools/content.html data=content.usability %}
            </div>
        </div>
    </div>
</div>

<div class="theme-dark">
    <div class="content">
        <div class="flex-split">
            <div>
                <video autoplay loop muted>
                    <source
                        src="/assets/img/phoenix/logo.mp4"
                        type="video/mp4"
                    />
                </video>

                <img
                    style="margin-top: 2rem"
                    src="/assets/img/phoenix/example_email.png"
                    alt=""
                />
            </div>

            <div class="flex-center">
                <img src="/assets/img/phoenix/example_pdf.png" alt="" />
            </div>
        </div>
    </div>
</div>

<div class="theme-dark">
    <div class="content">
        <div class="flex-split">
            <div>
                <h2>Form<br />And<br />Function</h2>

                <br />

                {% include tools/content.html data=content.function %}
            </div>

            <div>
                <img src="/assets/img/phoenix/example_instagram.png" alt="" />
            </div>
        </div>
    </div>
</div>