---
title: Sesame Chicken
layout: default
theme: light
permalink: /sesamechicken
image: /assets/img/portfolio/sesame.png
underlay: /assets/img/portfolio/sesame-blank.png
description: >-
    A short film about a man's uncontrollable rage as he is faced with a grave loss – the discontinuation of Panda Express Sesame Chicken.
---

<div class="portfolio-hero sesame">
    <div class="video-wrapper">
        <video width="100%" poster="/assets/video/sesamechicken.png" controls>
            <source src="/assets/video/sesamechicken.mp4" type="video/mp4" />
        </video>
    </div>

    <h2 class="title">{{ page.title }}</h2>
</div>

<div class="splash" id="content">
    <div>
        <h3>A Short Film.</h3>
    
        <p>
            This short film sought to achieve a neo-noir visual style
            through the satirical misadventures of a man who just wants
            his sesame chicken.
        </p>
    </div>
</div>

<div class="theme-dark">
    <div class="content">
        <div class="flex-title right">
            <div>
                <h2>Shot<br />Variety</h2>
            </div>

            <div style="flex-grow: 3">
                <p>
                    Experimentation through shot variety was a large priority.
                    Drone videography gives a greater sense of scale to an
                    otherwise claustrophobic film. Additionally, car-mounted
                    shots break up the more traditional shoulder-mount or static
                    camera segments.
                </p>

                <p>
                    Not only was the diversity of the shots key to the cinematic
                    language of the film, it also pushed us as filmmakers to
                    uniquely tell a story that itself was just as unique.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="theme-dark">
    <div class="content overflow">
        <div id="_cc_sesame1"></div>
    </div>
</div>

{% include tools/cloudcode.html data=site.data.clouds.sesame1 id="_cc_sesame1" %}

<div class="theme-dark">
    <div class="content">
        <div class="flex-title left">
            <div>
                <h2>
                    Distinct<br />
                    Visual<br />
                    Style
                </h2>
            </div>

            <div style="flex-grow: 3">
                <p>
                    The use of colored lighting on set gave the film a
                    consistently recognizable aesthetic throughout the film.
                </p>

                <p>
                    Dynamic visual contrast was achieved through selective color
                    grading that highlighted a certain color in each shot,
                    emphasizing the use of colored lighting. This contrast plays
                    a large role in the overall storytelling through placing
                    increased significance on the color, and emotion, that is
                    present in each shot.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="theme-dark">
    <div class="content overflow">
        <div id="_cc_sesame2"></div>
    </div>
</div>

{% include tools/cloudcode.html data=site.data.clouds.sesame2 id="_cc_sesame2" %}
