---
title: Sesame Chicken
layout: default
theme: light
permalink: /sesamechicken
image: /assets/img/portfolio/sesame.png
underlay: /assets/img/portfolio/sesame-blank.png
description: >-
    A short film about a man's uncontrollable rage as he is faced with a grave loss - the discontinuation of Panda Express Sesame Chicken.
---

{% assign content = site.data.content.portfolio.sesamechicken %}

<div class="portfolio-hero sesame">
    <div class="wrapper">
        <video width="100%" poster="/assets/video/sesamechicken.png" controls>
            <source src="/assets/video/sesamechicken.mp4" type="video/mp4" />
        </video>
    </div>

    <h2 class="title">{{ page.title }}</h2>
    <a href="#content">
        <img class="caret" src="/assets/img/site/caret-black.png">
    </a>
</div>

<div class="portfolio-splash theme-light" id="content">
    <div>
        <h3>A Short Film.</h3>
    
        {% include tools/content.html data=content.splash %}
    </div>
</div>

<div class="theme-dark">
    <div class="content">
        <div class="flex-title right">
            <div>
                <h2>Shot<br />Variety</h2>
            </div>

            <div style="flex-grow: 3">
                {% include tools/content.html data=content.variety %}
            </div>
        </div>
    </div>
</div>

<div class="theme-dark">
    <div class="content overflow">
        <div id="_cc_sesame1"></div>
    </div>
</div>

{% include tools/cloudcode.html data=site.data.clouds.sesame1 id="_cc_sesame1" %}

<div class="theme-dark">
    <div class="content">
        <div class="flex-title left">
            <div>
                <h2>
                    Distinct<br />
                    Visual<br />
                    Style
                </h2>
            </div>

            <div style="flex-grow: 3">
                {% include tools/content.html data=content.style %}
            </div>
        </div>
    </div>
</div>

<div class="theme-dark">
    <div class="content overflow">
        <div id="_cc_sesame2"></div>
    </div>
</div>

{% include tools/cloudcode.html data=site.data.clouds.sesame2 id="_cc_sesame2" %}
