---
layout: default
title: about
theme: dark
permalink: /
---

{% assign content = site.data.content.index %}


<div class="index-hero theme-dark">
    <div class="caret">
        <a href="#content">
            <img src="/assets/img/site/caret-white.png" />
        </a>
    </div>

    <div class="intro">
        <div class="inner">
            <h1>
                We make cool<br />stuff,
                <span class="highlight reveal reveal-150">see?</span>
            </h1>
        </div>
    </div>    
</div>

<div class="theme-dark" id="content">
    <div class="content reveal reveal-0">
        <div class="flex-title left">
            <div class="title">
                <h2>The Cool <br />Stuff</h2>
            </div>

            <div>
                {% include tools/content.html data=content.intro1 %}
            </div>
        </div>

        {% include tools/content.html data=content.intro2 %}
    </div>
</div>

<div class="theme-dark">
    <div class="content overflow">
        <div id="_cc_skills"></div>
    </div>
</div>

{% include tools/cloudcode.html data=site.data.clouds.skills id="_cc_skills" %}

<div class="index-portfolio theme-dark" style="padding-top: 0">
    <div class="content reveal reveal-0">
        <h3>Some highlights...</h3>

        <div class="cards">
            {% for item in site.portfolio %}
            <div class="item">
                <img class="layer" src="{{ item.underlay }}" />
                <img class="layer" src="/assets/img/site/fade.png" />
                <img class="layer cover" src="{{ item.image }}" />

                <a class="layer" href="{{ item.url }}">
                    <div class="info">
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.description }}</p>
                    </div>
                </a>

                <p class="arrow">&rarr;</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="index-team theme-dark">
    <div class="content reveal reveal-0">
        <div class="flex-title right">
            <div class="title">
                <h2>
                    Meet <br />The<br />
                    <span class="highlight reveal reveal-150">Team</span>
                </h2>
            </div>

            <div>
                {% include tools/content.html data=content.team %}
            </div>
        </div>

        <div class="cards">
            {% for member in site.data.team %}
            <div class="member">
                <img src="{{ member.profile }}" />
                <p class="title">
                    <strong>{{ member.name }}</strong><br />
                    {% for title in member.titles %} {{ title }}
                    <br />
                    {% endfor %}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="contact theme-dark">
    <div class="content">
        <form>
            <div class="flex-title left">
                <div class="title">
                    <h2>
                        Pretty<br />Cool,<br />
                        <span class="highlight reveal reveal-150">Right?</span>
                    </h2>
                </div>

                <div>
                    {% include tools/content.html data=content.contact %}

                    <div class="form">
                        <div class="input">
                            <input
                                id="_name"
                                type="text"
                                placeholder="Name"
                                name="name"
                            />
                        </div>

                        <div class="input">
                            <input
                                id="_email"
                                type="text"
                                placeholder="Email"
                                name="email"
                            />
                        </div>
                    </div>
                </div>

                <div class="form" style="margin-top: 0">
                    <div class="input" style="margin-top: 0">
                        <textarea id="_msg"></textarea>
                        <label for="_msg" type="text"></label>
                    </div>

                    <input type="hidden" id="_origin" name="origin" value="Landing Page">

                    <a
                        class="submit"
                        href="#contact"
                        onclick="submitContact()"
                        style="float: right"
                        >Submit</a
                    >
                </div>
            </div>
        </form>
    </div>
</div>