---
layout: default
title: about
theme: dark
---

<a href="#coolstuff">
    <div class="caret">
        <img src="/assets/img/site/caret-white.png">
    </div>
</a>

<div id="hero">
    <div class="intro">
        <div class="inner">
            <h1>We make cool<br />stuff, <span class="highlight reveal">see?</span></h1>
        </div>
    </div>
</div>

<div id="coolstuff">
    <div class="content reveal">
        <div class="flex-title left">
            <div class="title">
                <h2>The Cool <br />Stuff</h2>
            </div>

            <div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Esse praesentium nisi aliquid, maiores unde repellat totam
                    quas iste ipsum, enim deleniti aut eaque dignissimos laborum
                    in beatae sequi quam voluptas.
                </p>
            </div>
        </div>

        <p>
            From
            <a href="#">photoshoots</a>
            to
            <a href="#">short films</a>, we have a wide range of projects under
            our belt. We are well-practiced in all aspects of media production
            with extensive experience in social media management, web design,
            branding, and more.
        </p>
    </div>
</div>

<div id="portfolio">
    <div class="content reveal">
        <h3>Some things we've made...</h3>

        <div class="cards">
            {% for item in site.portfolio %}
            <div class="item reveal">
                <img class="layer" src="{{ item.underlay }}" />
                <img class="layer" src="/assets/img/site/fade.png" />
                <img class="layer cover" src="{{ item.image }}" />

                <a class="layer" href="{{ item.url }}">
                    <div class="info">
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.description }}</p>
                    </div>
                </a>

                <p class="arrow">&rarr;</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div id="team">
    <div class="content reveal">
        <div class="flex-title right">
            <div class="title">
                <h2>Meet <br />The<br/> <span class="highlight reveal">Team</span></h2>
            </div>

            <div>
                <p>
                    Our skills range widely from filmmaking to computer science
                    and marketing to drone piloting. Yet, all of these talents
                    combine seamlessly to produce media we are immensely proud
                    to create.
                </p>

                <p>
                    At TBSB Media, creating is our passion. This passion has led
                    us to create this company and to bring our creativity and
                    expertise to you!
                </p>
            </div>
        </div>

        <div class="cards">
            {% for member in site.data.team %}
            <div class="member">
                <img src="{{ member.profile }}" />
                <p class="title">
                    <strong>{{ member.name }}</strong><br/>
                    {% for title in member.titles %} {{ title }}
                    <br />
                    {% endfor %}
                </p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% assign count = 0 %} 
{% for skill in site.data.skills %}

{% assign flex_style = "" %}

{% if count == 1 %}
    {% assign flex_style = "reverse" %}
{% endif %}

<div id="skill">
    <div class="content reveal {{ flex_style }}">
        <div class="image reveal">
            <img src="{{ skill.image }}" />
        </div>
    
        <div class="info">
            <h3>{{ skill.name }}</h3>
            <p>{{ skill.description }}</p>
    
            <div class="examples">
                <ul>
                    {% for example in skill.examples %}
                    <li>{{ example }}</li>
                    {% endfor %}
                </ul>
    
                <!-- <a class="button" href="{{ skill.url }}">Learn More</a> -->
            </div>
        </div>
    </div>
</div>

{% assign count = count | plus: 1 | modulo: 2 %}

{% endfor %}

<div id="contact">
    <div class="content reveal">

        <div class="flex-title left">
            <div class="title">
                <h2>Pretty<br/>Cool,<br><span class="highlight reveal">Right?</span></h2>
            </div>

            <div>
                <div class="form">
                    <div class="input">
                        <input id="_name" type="text" placeholder="Name" />
                    </div>
    
                    <div class="input">
                        <input id="_email" type="text" placeholder="Email"/>
                    </div>

                    <div class="input">
                        <textarea id="_email"></textarea>
                        <label for="_email" type="text" ></label>
                    </div>

                    <a class="submit" href="#" style="float: right">Submit</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(() => {
        if (window.location.href.endsWith("#coolstuff")) {
            window.location.href = "#";
        };
    });

    function reveal() {
        var reveals = document.querySelectorAll(".reveal");

        for (var i = 0; i < reveals.length; i++) {
            var windowHeight = window.innerHeight;
            var elementTop = reveals[i].getBoundingClientRect().top;
            var elementVisible = 150;

            if (elementTop < windowHeight - elementVisible) {
                reveals[i].classList.add("active");
            } else {
                reveals[i].classList.remove("active");
            }
        }
    }

    $(window).scroll(reveal);
    $(window).resize(reveal);
    $(window).load(reveal);
</script>