---
layout: default
title: portfolio
theme: light
---

<div class="content" id="portfolio">
    <h2>Projects</h2>

    <div class="cards">
        {% for item in site.portfolio %}
            <div class="item">
                <img class="layer" src="{{ item.underlay }}"/>
                <img class="layer" src="/assets/img/site/fade.png"/>
                <img class="layer cover" src="{{ item.image }}"/>

                <a class="layer" href="{{ item.url }}">
                    <div class="info">
                        <h3>{{ item.title }}</h3>
                        <p>{{ item.description }}</p>
                    </div>
                </a>

                <p class="arrow">&rarr;</p>
            </div>
        {% endfor %}
    </div>
</div>

<div id="skills">
    <div class="content">
        {% assign count = 0 %} {% for skill in site.data.skills %} {% assign
        flex_style = "" %} {% assign text_style = "" %} {% if count == 1 %} {%
        assign flex_style = "reverse" %} {% assign text_style = "right" %} {%
        endif %}

        <div class="skill {{ flex_style }}">
            <div class="images">
                {% for image in skill.images %}
                <div>
                    <img src="{{ image }}" />
                </div>
                {% endfor %}
            </div>

            <div class="info">
                <h3>{{ skill.name }}</h3>
                <p>{{ skill.description }}</p>

                <div class="examples">
                    <ul>
                        {% for example in skill.examples %}
                        <li>{{ example }}</li>
                        {% endfor %}
                    </ul>

                    <a class="button alt" href="{{ skill.url }}">Learn More</a>
                </div>
            </div>
        </div>

        {% if skill != site.data.skills.last %}
        <br />
        {% endif %} {% assign count = count | plus: 1 | modulo: 2 %} {% endfor
        %}
    </div>
</div>
