{% assign count = 0 %} 
{% for skill in site.data.skills %}

{% assign flex_style = "" %}

{% if count == 1 %}
    {% assign flex_style = "reverse" %}
{% endif %}

<div id="skill">
    <div class="content reveal {{ flex_style }}">
        <div class="image reveal">
            <img src="{{ skill.image }}" />
        </div>
    
        <div class="info">
            <h3>{{ skill.name }}</h3>
            <p>{{ skill.description }}</p>
    
            <div class="examples">
                <ul>
                    {% for example in skill.examples %}
                    <li>{{ example }}</li>
                    {% endfor %}
                </ul>
    
                <!-- <a class="button" href="{{ skill.url }}">Learn More</a> -->
            </div>
        </div>
    </div>
</div>

{% assign count = count | plus: 1 | modulo: 2 %}

{% endfor %}
