.index-team {
    .flex {
        display: flex;
        flex-wrap: wrap;
        gap: 0 2rem;

        p {
            flex: 1 1 375px;
        }
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        margin: 2rem 0;

        @media (max-width: 42em) {
            flex-direction: column;
            justify-content: center;
        }

        .member {
            flex: 1 1;

            img {
                width: 100%;
                overflow: hidden;
            }

            p {
                strong {
                    font-weight: 700;
                }

                margin: 0px;
                line-height: 1.1;
                // text-align: center;
            }
        }
    }
}
