<div class="cloud">
    <div class="content">
        <div class="cloud-container" id="cloud_{{ include.name }}" cloud_label="{{ include.name }}">
            {% for skill in include.data %}
                <video
                    {% if skill.final %}
                    id="_cloud_final_{{ include.name }}"
                    {% endif %}
                    class="cloud-item"
                    style="width: {{ skill.width }};
                           top: {{ skill.position.y }};
                           left: {{ skill.position.x }};
                           z-index: {{ skill.z-index }};"
                    loop autoplay muted>
                    <source src="{{ skill.image }}" type="video/mp4">
                    Your browser does not support video :(
                </video>
            {% endfor %}
        </div>
    </div>
</div>
