<div class="theme-dark" id="footer">
    <div class="content">
        <div class="info">
            <p>Made by Counter :^)</p>
            <p>Updated Feb 2022</p>
        </div>

        <div class="socials">
            {% for social in site.data.socials %}
                <a href="{{ social.url }}" target="_blank">
                    {% include tools/icon.html icon=social.icon width=32 %}
                </a>

                &nbsp;&nbsp;
            {% endfor %}
        </div>
    </div>
</div>