<head>
    <title>{{ site.title }} | {{ page.title | capitalize }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">

    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta&family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap"
        rel="stylesheet">

    <!-- CSS -->
    <link href="/assets/slick/slick.css" rel="stylesheet" />
    <link href="/assets/css/main.css" rel="stylesheet">

    <!-- JQUERY -->
    <script src="/assets/js/jquery-3.6.0.min.js" type="text/javascript"></script>
    <script src="/assets/js/jquery-migrate-3.3.2.min.js" type="text/javascript"></script>

    <!-- SLICK -->
    <script src="/assets/slick/slick.min.js" type="text/javascript"></script>

    {% include tools/header.html %}
</head>