<div class="modal hidden" id="_form_success">
    <div class="modal-content">
        <h3>Success!</h3>
        <p id="_form_success_message"></p>

        <div class="modal-buttons">
            <a class="button invert" href="#" id="_form_success_close">Close</a>
        </div>
    </div>
</div>

<div class="modal hidden" id="_form_error">
    <div class="modal-content">
        <h3>Uh Oh.</h3>
        <p id="_form_error_message"></p>

        <div class="modal-buttons">
            <a class="button invert" href="#" id="_form_error_close">Close</a>
        </div>
    </div>
</div>


