{% assign theme = "nav-light" %}
{% assign hero = "" %}
{% assign logo = "black" %}

{% if include.theme == "dark" %}
    {% assign theme = "nav-dark" %}
    {% assign logo = "white" %}
{% endif %}

{% if include.hero %}
    {% assign hero = "hero" %}
{% endif %}

<div id="nav" class="{{ theme }} {{ hero }}">
    <div class="logo">
        <a href="/">
            <img src="/assets/img/site/logo_banner_{{ logo }}.png">
        </a>
    </div>

    <div class="links">
        {% for nav in site.data.menu %}
            <a class="{% if nav.name == page.title %}a{% endif %}" href="{{ nav.url }}">
                {{ nav.name | upcase }}
            </a>
        {% endfor %}
    </div>
</div>