.form {
    margin: 2rem 0;
    
    .input {
        position: relative;
        margin: 1rem 0;

        input, textarea {
            font-family: var(--body-font);
            font-size: var(--fs-m);
            background-color: var(--bg-color);

            border: none;
            border-bottom: 4px solid var(--text-color);
            color: var(--text-color);

            height: 2rem;
            width: calc(100% - 1rem);
            padding: 0.5rem 0.5rem;

            &:focus {
                outline: none;
            }
        }

        textarea {
            min-height: 200px;
            resize: none;
            border: 4px solid var(--text-color);
            width: calc(99.2% - 1rem);
        }

        label {
            font-family: var(--body-font);
            font-size: var(--fs-m);
            font-weight: 500;

            color: var(--bg-color);
   
            position: absolute;
            left: 0.5rem;
            top: 0.5rem;
        }
    }
}

#contact {
   .submit {
        font-weight: 600;
        font-size: var(--fs-m);
        color: var(--body-font);
    }
}

.theme-light {
    .form {
        input, textarea {
            border-bottom: 2px solid var(--text-color);
        }

        textarea {
            border: 2px solid var(--text-color);
            width: calc(99.7% - 1rem);
        }
    }
    
    .submit {
        font-weight: 400 !important;
    }
}