.portfolio-hero {
    height: calc(100vh - 6rem);
    position: relative;

    .title {
        position: absolute;
        left: 1rem;
        bottom: 3rem;
        width: 80%;
    }

    &.sesame {
        .video {
            max-width: 1000px;
            margin: auto;
            padding: 1rem 3rem;
            height: 70%;
            display: flex;
            align-items: center;
    
            @media (max-width: 44em) {
                padding: 1rem 1rem;
            }
        }
    }

    &.phoenix {
        .logo-box {
            text-align: center;
            padding: 1rem 3rem;

            .logo {
                max-width: 600px;
                width: 100%;
            }

            @media (max-width: 44em) {
                padding: 7rem 1rem;
            }
        }
    }
}

.splash {
    display: flex;
    justify-content: right;
    padding: 1rem;
    margin: 1rem;

    div {
        max-width: 500px;
    }


    @media (max-width: 44em) {
        justify-content: left;
    }
}

.split {
    display: flex;
    flex-wrap: wrap;

    .col {
        flex: 1 0 400px;
    }
}