#skills {
    @include theme-light;

    .skill {
        margin: 1rem 0px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        gap: 30px;

        &.reverse {
            flex-direction: row-reverse;
        }

        .images {
            width: 30%;

            img {
                // width: 100%;
                object-fit: cover;
                max-height: 200px;
            }
        }

        .info {
            flex: 1 1 400px;

            h3 {
                margin-top: -0.5rem;
            }

            .examples {
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;
                justify-content: space-between;
                align-items: flex-end;
                width: 100%;
            }
        }
    }
}
