#skills {
    .skill {
        position: relative;
        margin: 1rem 0;

        transition: opacity ease-in-out 500ms;
        opacity: 0;

        .banner {
            width: 100%;
            max-height: 300px;
            object-fit: cover;
        }

        .typo {
            position: absolute;
            top: 0px;
            left: 0px;
        }

        &.active {
            opacity: 1;
        }
    }    
}