#team {
    .flex {
        display: flex;
        flex-wrap: wrap;
        gap: 0 2rem;

        p {
            flex: 1 1 375px;
        }
    }

    .cards {
        display: flex;
        // justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
        margin: 2rem 0;

        .member {
            flex: 0 1 289px;

            img {
                width: 100%;
                // max-height: 300px;
            }

            .name {
                text-align: center;
                font-weight: bold;
            }

            .title {
                text-align: center;
                margin-bottom: 0.5rem;
            }

            p {
                @include small;
                margin: 0px;
            }
        }
    }

    @media (max-width: 814px) {
        .cards {
            justify-content: center;
        }
    }

    // @media (max-width: 547px) {
    //     .cards {
    //         justify-content: center;
    //     }
    // }
}
