@mixin theme {
    background-color: var(--bg-color);
    color: var(--text-color);

    a {
        color: var(--url-color);
    }

    p, h1, h2, h3 {
        a:hover,
        a:focus {
            filter: brightness(0.6);
        }
    }

    padding: 2rem 0;
}

@mixin theme-dark {
    @include theme;
    --text-color: var(--c-white);
    --bg-color: var(--c-black);
    --url-color: var(--c-white);
}

@mixin theme-light {
    @include theme;
    --text-color: var(--c-black);
    --bg-color: var(--c-white);
    --url-color: var(--c-blue);
}

@mixin theme-grey {
    @include theme;
    --text-color: var(--c-white);
    --bg-color: var(--c-darkgrey);
    --url-color: var(--c-blue);
}
