// variables
:root {
    --body-font: "Ubuntu", sans-serif;
    --mono-font: "Courier New", monospace;

    --c-white: white;
    --c-black: #000003;
    --c-grey: #91a3b0;
    --c-darkgrey: #2c3539;
    --c-blue: #007ad8;

    --text-color: var(--c-black);
    --bg-color: var(--c-white);
    --url-color: var(--c-blue);

    --fs-sm: 1rem;
    --fs-m: 1.3rem;
    --fs-l: 3rem;
    --fs-xl: 6rem;
    --fs-xxl: 10rem;

    --padding: 2rem;
    --footer: 6rem;
}

@media (max-width: 74em) {
    :root {
        --fs-xxl: 8rem;
    }
}

@media (max-width: 58em) {
    :root {
        --fs-xxl: 6rem;
    }
}

@media (max-width: 44em) {
    :root {
        --fs-sm: 1rem;
        --fs-m: 1.2rem;
        --fs-l: 1.7rem;
        --fs-xl: 5rem;
        --fs-xxl: 4rem;

        --padding: 2rem;
    }
}

@media (max-width: 30em) {
    :root {
        --fs-xxl: 3rem;
    }
}

// utilities
@mixin small {
    font-size: var(--fs-sm);
    line-height: 1.4;
    margin: 0;
}

// generic styles
@import "./themes";

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--body-font);
    position: relative;
    min-height: 100%;
    line-height: 1.5;
    scroll-behavior: smooth;
}

h1,
h2,
h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    line-height: 1;
}

h3 {
    font-size: var(--fs-l);
}

h2 {
    font-size: var(--fs-xl);
    font-weight: 700;
}

h1 {
    font-size: var(--fs-xxl);
}

p {
    font-size: var(--fs-m);
    font-weight: 300;
}

.content {
    max-width: 900px;
    margin: auto;
    padding-left: var(--padding);
    padding-right: var(--padding);
}

.content {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.content h1,
.content h2,
.content h3,
.content p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.content ul {
    // list-style-type: "–  ";
    padding-left: 1rem;
}

.content.reveal {
    opacity: 0;
    transition: opacity ease-in-out 500ms;

    &.active {
        opacity: 1;
    }
}

.button {
    font-size: calc(var(--fs-sm) + 0.1rem);
    text-decoration: none;
    border: var(--text-color) 2px solid;
    padding: 5px 15px;
    color: var(--text-color) !important;
    transition: all 200ms ease;
    position: relative;
}

.button:hover,
.button:focus {
    background-color: var(--text-color);
    color: var(--bg-color) !important;
}

#main {
    margin-bottom: calc(var(--footer) + 4rem);
}

.flex-title {
    display: flex;
    gap: 2rem;

    @media (max-width: 32em) {
        flex-direction: column;
    }
    
    & > div {
        flex: 1 1 100%;

        &.left {
            flex-direction: row;

            h2 {
                margin-right: 2rem;
                text-align: left;
            }
        }

        &.right {
            flex-direction: row-reverse;

            h2 {
                margin-left: 2rem;
                text-align: right;
            }
        }
    }
}

// site elements
@import "./footer";
@import "./nav";
@import "./portfolio";
@import "./skills";
@import "./team";
@import "./hero";

// content themes
#footer {
    @include theme-dark;
}

#portfolio {
    @include theme-dark;
}

#skill {
    @include theme-dark;
}

#about {
    @include theme-dark;
}

#team {
    @include theme-dark;
}

#blog {
    @include theme-light;
}

#contact {
    @include theme-dark;
}

#hero {
    @include theme-dark;
}

#coolstuff {
    @include theme-dark;
}

.caret {
    --size: 50px;

    position: absolute;
    z-index: 1;
    
    left: calc(50% - var(--size) / 2);
    top: 85vh;
    
    width: var(--size);
    height: var(--size);

    transition: transform ease 250ms;

    img {
        width: 100%;
        height: 100%;
    }

    &:hover {
        transform: scale(1.5);
    }
}