<style>
    .embed {
        position: relative;
        padding-bottom: 56.25%;
        height: 0;
        overflow: hidden;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .embed iframe,
    .embed-container object,
    .embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .carousel {
        position: relative;
        overflow: hidden;
    }

    .carousel .slide {
        position: absolute;
        transform: translate(0, 0);
        transition: transform 500ms ease;
    }

    .carousel .slide.left {
        transform: translate(-100%, 0);
    }

    .carousel .slide.right {
        transform: translate(100%, 0);
    }
</style>