<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

{% include header.html %}

<body>
    <div>
        {% include nav.html theme=page.theme %}
    </div>

    <div id="main">
        {{ content }}
    </div>

    {% include footer.html %}

    <script>
        function resize() {
            if (screen.width >= 1200) {
                $(".cloud-container").each((_, elem) => {
                    var label = $(elem).attr("cloud_label");
    
                    var height = $(`#_cloud_final_${label}`).height();
                    var offset = $(`#_cloud_final_${label}`).css("top");
        
                    $(`#cloud_${label}`).height(height + parseInt(offset));
                });
            } else {
                $(".cloud-container").each((_, elem) => {
                    var label = $(elem).attr("cloud_label");
                    $(`#cloud_${label}`).height("");
                });
            }
        }

        $(window).resize(resize);
        $(".cloud-item").on("play", resize);
    </script>
</body>

</html>